.page {
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.title {
    color: #1a1a1a;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.contactInfo {
    margin-bottom: 40px;
    text-align: center;
}

.contactInfo p {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 10px;
}

.contactInfo a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contactInfo a:hover {
    color: #0056b3;
}

.form {
    display: flex;
    flex-direction: column;
}

.formGroup {
    margin-bottom: 20px;
}

.formGroup label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-size: 1.1rem;
}

.formGroup input,
.formGroup textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.formGroup textarea {
    resize: vertical;
    min-height: 150px;
}

.submitButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submitButton:hover {
    background-color: #0056b3;
}



/* Responsywność */
@media (max-width: 768px) {
    .page {
        padding: 30px 15px;
        border-radius: 8px;
    }

    .title {
        font-size: 2.5rem;
        margin-bottom: 30px;
    }

    .contactInfo p {
        font-size: 1rem;
    }

    .formGroup input,
    .formGroup textarea {
        font-size: 0.9rem;
    }

    .submitButton {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .page {
        padding: 20px 10px;
    }

    .title {
        font-size: 2rem;
    }

    .contactInfo p {
        font-size: 0.9rem;
    }

    .formGroup input,
    .formGroup textarea {
        font-size: 0.8rem;
    }

    .submitButton {
        font-size: 0.8rem;
    }
}